<launch>
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<!-- <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_resources)/maps/sparse_obstacles.yaml"/> -->
	<node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_prsg2)/maps/rectangle.yaml"/> -->

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>
	
	<!-- <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" /> -->
	<node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find stdr_prsg2)/robots/prsg2_jay_robot.yaml 3.5 3 1.57" />

	
	<!-- Start teleop and quadrille: -->
	
	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
	<remap from="cmd_vel" to="robot0/cmd_vel"/>
	</node>

       <param name="quadrille_angle_fac" type="double" value="1.0" />       
	<node pkg="quadrille" type="quadrille.py" name="quadrille">
	<!-- <param name="quadrille_angle_fac" type="double" value="1.0" /> -->
	<remap from="cmd_vel" to="robot0/cmd_vel" />
	</node>

</launch>
