<launch>
	<arg name="record_sensors" default="true" />

	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_resources)/maps/sparse_obstacles.yaml"/>

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>
	
	<!-- <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" /> -->
	<node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find stdr_prsg2)/robots/prsg2_jay_robot.yaml 1 2 0" />

	
	<!-- <node pkg="rosbag" type="record" name="rosbag_record_sensors"
          args="record -o /tmp/stdr-prsg2-sensors /odom /cmd_vel /arduino/sensor/battery_voltage /arduino/sensor/ir_1 /arduino/sensor/ir_2 /arduino/sensor/servo_1 /arduino/sensor/servo_2"
	  if="$(arg record_sensors)">
	<remap from="robot0/odom" to="odom"/>
  	<remap from="robot0/cmd_vel" to="cmd_vel"/>
	<remap from="robot0/sonar_0" to="arduino/sensor/ir_1"/>
	<remap from="robot0/sonar_1" to="arduino/sensor/ir_2"/>
	<remap from="robot0/sonar_0/angle" to="arduino/sensor/servo_1"/>
	<remap from="robot0/sonar_1/angle" to="arduino/sensor/servo_2"/>	
	</node>	  -->
	
	<node pkg="rosbag" type="record" name="rosbag_record_sensors"
          args="record -o /tmp/stdr-prsg2-sensors /robot0/odom /robot0/cmd_vel /robot0/sonar_0 /robot0/sonar_0/angle /robot0/sonar_1 /robot0/sonar_1/angle"
	  if="$(arg record_sensors)"/>

	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
	<remap from="cmd_vel" to="robot0/cmd_vel"/>
	</node>
</launch>
