<launch>
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />

	<!-- Create world map -->
	
	<node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_prsg2)/maps/rectangle.yaml"/> -->

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />


	<!-- Spawn Robots -->
	<!-- <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" -->
	<node pkg="stdr_robot" type="robot_handler" name="stdr_robot0"
	args="add $(find stdr_prsg2)/robots/prsg2_jay_robot.yaml 3.5 4 1.57" />

	<!--
	<node pkg="stdr_robot" type="robot_handler" name= "stdr_robot1"
	args="add $(find stdr_prsg2)/robots/prsg2_jay_robot.yaml 3.5 6 -1.57" />

	<node pkg="stdr_robot" type="robot_handler" name= "stdr_robot2"
	args="add $(find stdr_prsg2)/robots/prsg2_jay_robot.yaml 4.5 5 -3.14" />
	-->
	
	<!-- Launch STDR GUI -->
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>

<!-- Start teleop 0: -->

	<!--
	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
	<remap from="cmd_vel" to="robot0/cmd_vel"/>
	</node>
	-->

	<!-- Start quadrille for robot 0: -->

	<!--
       	<param name="quadrille_angle_fac" type="double" value="1.0" />       
	<node pkg="quadrille" type="quadrille.py" name="quadrille0">
	<remap from="cmd_vel" to="robot0/cmd_vel" />
	</node>
	-->

	<!-- Start quadrille for other robots: -->

	<!--
	<node pkg="quadrille" type="quadrille.py" name="quadrille1">
	<remap from="cmd_vel" to="robot2/cmd_vel" />
	</node>
	-->
	
	<!--
	<node pkg="quadrille" type="quadrille.py" name="quadrille2">
	<remap from="cmd_vel" to="robot2/cmd_vel" />
	</node>
	-->

</launch>
